*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.nav-item{
    border: 2px solid white;
    margin-right: 30px;
    

    justify-content: space-evenly;
   

}
#banner_container{
    padding: 0px;
}

.shadow-text {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1); 
  }
 
.larger-text {
  font-size: 5rem;
  text-shadow: 2px 2px 4px black;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}
.smaller-text{
    font-size: 1.5rem;
    text-shadow: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;;
}

#navbar-banner-section {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    /* margin-bottom: 10px; */
}
#card1img{
    height: 150px;
}
#btn1{
    margin-left: 85px;
}



#services {
    margin-top: -10px; /* Adjust this value as needed */
    padding-top: 50px; /* Reset padding if necessary */
}
#card{
    width: 478px;
}



#card2img{
    height: 200px;
    border-radius: 0;
}
.card-body{
    background-color: rgb(242, 242, 242);
}
#btn2{
    margin-left:275px;
}
#card3img{
    
    border-radius: 0;
    
}
#banner-container2{
    padding: 0px;
    width: 100vw; 
    left: -12px;
}
#banner2 {
    height: 280px;
}

#container{
    margin: 120px;
}
#btn3{
    margin-left:54px;
}

#card10{
    margin-top: -93px;
    margin-left: 118px;
    margin-right: 119px;
    margin-bottom: 40px;
}

#img1{
    height: 400px;
}


#caption2{
    margin-bottom: 35px;
}
#banner3{
    height: 500px;
    padding: 0px;
}
#para{
    margin-left: 127px;
    opacity: 0.6;
    width: 635px;
}
#banner-container3{
    padding: 0px;
    width: 100vw; 
    left: -12px;
}
#form1{
    margin-left: 115px;
    margin-right: 117px;
}
#form1>div>input{
    height: 30px;
    opacity: 0.6;
}
#form1>div>textarea{
    height: 136px;
    opacity: 0.6;
}
#btn5{
    margin-left: -243px;
}

